@import url(https://db.onlinewebfonts.com/c/5237a1e3a872fc2e31712575aa39235b?family=Visby+Round+CF+Heavy);

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Visby Round CF Heavy", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: #838383;

  --pastel-yellow: #ffd780;
  --caca-brown: #6c472a;
  --dark-brown: #52341c;

  --dark-salmon: #e2886d;
  --light-salmon: #feb099;
  --pale-salmon: #ffcdbe;

  --goku-red: #722913;
  --white: #fffffe;
  --dark: #352722;

  --pink-white: #e1cac2;
  --beige: #a8867a;
  --cream: #ffedc6;

  --broadcaster-name: var(--pastel-yellow);
  --broadcaster-bg: var(--pastel-yellow);
  --broadcaster-text: var(--dark-brown);
  --broadcaster-sidebar: var(--caca-brown);
  --broadcaster-border: var(--dark-brown);
  --broadcaster-glow: 0 0 30px 5px rgba(255, 215, 128, 0.2);

  --mod-name: var(--light-salmon);
  --mod-text: var(--pale-salmon);
  --mod-bg: var(--goku-red);
  --mod-sidebar: var(--dark-salmon);
  --mod-border: var(--dark-salmon);
  --mod-glow: 0 0 30px 5px rgba(255, 176, 153, 0.2);

  --sub-name: var(--cream);
  --sub-text: var(--cream);
  --sub-bg: var(--dark);
  --sub-border: var(--pastel-yellow);
  --sub-sidebar: var(--pastel-yellow);
  --sub-glow: 0 0 30px 5px rgba(255, 215, 128, 0.2);

  --regular-name: var(--pink-white);
  --regular-text: var(--pink-white);
  --regular-bg: var(--dark);
  --regular-border: var(--beige);
  --regular-sidebar: var(--beige);
  --regular-glow: 0 0 30px 5px rgba(168, 134, 122, 0.2);
}
