@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;

  --broadcaster-bg: #fcd67f;
  --mod-bg: #742b15;
  --regular-bg: #372924;

  --sub-sidebar: #f1c071;
  --mod-sidebar: #392a23;

  --broadcaster-text: #52341c;
  --white-text: #fffffe;

  --brown-border: #52341c;
  --sub-border: #ffd780;
}
